registry: gitlab-registry.in2p3.fr/astrolabsoftware/fink
dependencies:
  - url: http://github.com/astrolabsoftware/fink-alert-simulator
    # If true repository will be locally cloned
    clone: true
    # If true, container image will be pulled
    pull: true

